doctype 5
html
	head
		title Code
		link(rel="stylesheet", href="/radedit.css")
		link(rel="shortcut icon", href="/favicon.ico")
		meta(
			name="viewport",
			content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
		
	body
		#layout
			#menu
			#content
				#tree.area
				#console.area
				#search.hidden
				#editor

		script(src="/radedit.js")
