* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background: #000;
	color: #fff;
	overflow: hidden;
	font-family: Arial;
	font-size: 12px;
}

html, th, td {
	
}

#_LOGO {
	margin: 0.2em;
}

h1 {
	position: absolute;
	left: 2em;
	top: 0.4em;
	color: #25b;
	text-shadow: 0.1em 0.1em #000;
	font-size: 13px;
}

h1 b {
	color: #c70;
}

body._MANAGER #_CONTENT {
	padding: 1em 2.2em;
}

input._CELL {
	background: #222;
	border: 1px solid #444;
	color: #fff;
	border-radius: 0.2em;
	margin: -0.1em -0.2em;
	padding: 0.1em 0.2em;
}

input._CELL:focus {
	background: #fff;
	color: #000;
}

input#name {
	width: 10em;
}

input#port {
	width: 4em;
}

td._CONTROLS {
	padding: 0 0.2em;
}

i._CONTROL {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0.1em 0.3em;
	cursor: pointer;
}

i._CONTROL:hover {
	filter: brightness(1.5);
	-webkit-filter: brightness(1.5);
	-moz-filter: brightness(1.5);
	-o-filter: brightness(1.5);
	-ms-filter: brightness(1.5);
}

h2 {
	font-weight: normal;
	font-size: 16px;
	margin: 0 0 0.4em;
	color: #999;
}

h2 b {
	font-weight: normal;
	font-size: 13px;
	color: #666;
}

table {
	border-spacing: 1px;
	margin: -1px;
}

th,
td {
	padding: 0.3em 0.6em;
}

th {
	background: #333;
	text-align: left;
	font-weight: bold;
}

td {
	background: #111;
}

a {
	color: #25b;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #c70;
}

#_NAV {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 2.3em;
	background: #222;
	border-bottom: 0.1em solid #555;
}

#_NAV, #_MENU, #_TREE {
	user-select: none; 
	-o-user-select: none; 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
}

#_CONTENT, #_LOADING {
	position: absolute;
	left: 0;
	top: 2.4em;
	right: 0;
	bottom: 0;
}

#_LOADING {
	background: #000;
	opacity: 0.9;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
}

#_LOADING>span {
	display: inline-block;
	color: #fff;
	font-size: 2em;
	margin-top: 2em;
}

._NAV {
	float: left;
	padding: 0.2em 0.4em;
	cursor: pointer;
}

._NAV._ON, ._NAV._ERROR {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

#_NAV svg {
	margin-top: 0.1em;
	width: 1.7em;
	height: 1.7em;
}

._NAV._ON {
	background: #555;
}

#_EDITOR {
	height: 100%;
}

._AREA, .CodeMirror {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	color: #ddd;
}

._AREA {
	z-index: 3;
	display: none;
	overflow: auto;
	top: -0.1em;
	border: 0.1em solid #555;
	background: #111;
}

#_MENU {
	padding: 0.7em;
	right: auto;
	bottom: auto;
	min-width: 24em;
}

#_MENU label>span {
	margin: 0 0 0 0.5em;
}

#_MENU label {
	display: block;
	padding: 0.3em;
}

#_TREE {
	padding: 0.5em;
	right: auto;
	min-width: 25em;
}

._ON {
	display: block !important;
}

._DISABLED {
	opacity: 0.2;
}

._HIDDEN {
	display: none !important;
}

div._ITEM {
	white-space: nowrap;
	padding: 0.1em 0;
}

div._FILE, div._TREE {
	padding-left: 1.6em;
}

div._ITEM:hover {
	background: #222;
	cursor: pointer;
}

#_TREE i._FOLDER,
i._PLUS, i._FILE {
	display: inline-block;
	width: 1.6em;
	height: 1.6em;
	vertical-align: middle;
}

i._FOLDER, i._FILE {
	margin-right: 0.3em;
}

div._TREE {
	display: none;
}

#_CONSOLE {
	background: #000;
	padding: 0.1em 0.3em;
}

#_CONSOLE>pre {
	margin: 0;
}

#_CONSOLE>pre a {
	text-decoration: none;
	cursor: pointer;
}

#_CONSOLE>pre._LOG { color: #bbb; }
#_CONSOLE>pre._TRACE { color: #0ee; }
#_CONSOLE>pre._DEBUG {color: #e0e; }
#_CONSOLE>pre._INFO { color: #0b0; }
#_CONSOLE>pre._WARN { color: #ee0; }
#_CONSOLE>pre._ERROR { color: #e00; }

#_CONSOLE>pre._LOG a { border-bottom: solid 0.1em #444; }
#_CONSOLE>pre._TRACE a { border-bottom: solid 0.1em #066; }
#_CONSOLE>pre._DEBUG a { border-bottom: solid 0.1em #606; }
#_CONSOLE>pre._INFO a { border-bottom: solid 0.1em #060; }
#_CONSOLE>pre._WARN a { border-bottom: solid 0.1em #660; }
#_CONSOLE>pre._ERROR a { border-bottom: solid 0.1em #600; }

#_CONSOLE>pre._LOG a:hover { color: #ccc; }
#_CONSOLE>pre._TRACE a:hover { color: #0ff; }
#_CONSOLE>pre._DEBUG a:hover { color: #f0f; }
#_CONSOLE>pre._INFO a:hover { color: #0c0; }
#_CONSOLE>pre._WARN a:hover { color: #ff0; }
#_CONSOLE>pre._ERROR a:hover { color: #f00; }

#_CONSOLE__BUTTON._ERROR { background: #900; }

#_SEARCH_BOX {
	position: absolute;
	left: 13em;
	right: 7.5em;
	height: 1.8em;
	padding: 0;
	margin: 0.2em 0;
}

#_SEARCH_BOX svg {
	position: absolute;
	z-index: 2;
	left: 0.1em;
}

#_SEARCH_BOX div {
	position: relative;
	width: 100%;
	height: 100%;
}

#_SEARCH_BOX input {
	width: 100%;
	height: 100%;
	border-radius: 1em;
	border: 0.1em solid #555;
	background: #333;
	padding: 0 0.6em 0 2em;
	outline: none;
	color: #999;
	/* transition: border 0.2s, width 0.2s, background 0.2s, color 0.2s; */
}

#_SEARCH_BOX input._FOCUS, #_SEARCH_RESULTS>div {
	background: #eee;
	color: #000;
	border: 0.1em solid #fff;
}

#_SEARCH_RESULTS {
	position: absolute;
	z-index: 3;
	top: -0.2em;
	left: 0;
	right: 0;
	max-height: 90%;
	overflow: auto;
}

#_SEARCH_RESULTS>div {
	border-top: 0;
	border-bottom: 0.1em solid #f8f8f8;
	cursor: pointer;
	padding: 0.3em 1em;
	color: #666;
	overflow: hidden;
	font-size: 1.2em;
}

#_SEARCH_RESULTS>div>b {
	color: #000;
}

#_SEARCH_RESULTS>div>i {
	color: #666;
	font-style: normal;
}

#_SEARCH_RESULTS>div:hover {
	background: #fff;
}

#_AVATAR {
	float: right;
	width: 2em;
	height: 2em;
	margin: 0.1em;
	border: 0.1em solid #999;
	border-radius: 0.2em;
}
